body {
  background: linear-gradient(135deg, #763202, #76033b, #02002e, #010f1b);
  background-size: 400% 400%;
  animation: gradientFlow 12s ease infinite;
        font-family: "Lobster", sans-serif; 
}

@keyframes gradientFlow {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #021c31, #61081a);
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(1, 4, 40, 0.971);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
}

header h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffcc00;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-flex;
}

nav ul li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
  overflow: hidden;
}

nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.4), transparent);
  transition: all 0.4s ease;
}

nav ul li a:hover {
  color: #ffcc00;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 12px rgba(255,204,0,0.4);
}

nav ul li a:hover::before {
  left: 100%;
}
#h1{
text-align: center;
color: aliceblue;
padding:50px 0 20px 0;
font-size: 40px;
}
#info p{
text-align: center;
color: aliceblue;
font-size: 30px;
line-height: 50px;
}
 #info p a{
        font-weight: bolder;
    background-color: #ffffffe1;
        border: 2px solid #0000005b;
border-radius: 90px 90px 90px 90px;
-webkit-border-radius: 90px 90px 90px 90px;
-moz-border-radius: 90px 90px 90px 90px;
    padding: 3px 8px 3px 8px;
    color: #000000;
    width: fit-content;
    text-decoration: none;
    font-size: 25px;
 }
#a:hover{
transform: scale(0.8) skew(1deg);
-webkit-transform: scale(0.8) skew(1deg);
-moz-transform: scale(0.8) skew(1deg);
transition: 0.50s ease; 
}
#info p a:hover{
color: #ffffffe1;
background-color: #0000008b;
}

@media (max-width: 768px) {
  nav ul li a {
    padding: 6px 14px;
    font-size: 0.7rem;
  }
header h1{
    font-size: 12px;
}
#info p{
    font-size: 1.3rem;
    line-height: 40px;
}
#info p a{
    font-size: 1.3rem;
    line-height: 40px;
}
}